*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
}
#container{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/pic.png);
    background-position: center;
    background-size: cover;
    padding-right: 3px;
    padding-left: 5px;
    box-sizing: border-box;
    position: relative;
}
#header{
     margin: auto;
    display: flex;
    align-items: center;
    height: 15vh;
    width: 100%;
}
.logo{
    width: 80px;
    margin-top: 15px;
    cursor: pointer;
    padding-left: 60px;
}
nav{
    flex: 1;
    padding-left: 465px;
}
nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
#btn1{
    text-transform: uppercase;
    background: linear-gradient(to bottom, #378de5 3%, #48789b 100%);
    border-radius: 30px;
    border: 1px solid #5e97d1;
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 20px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 1px 4px 12px rgb(94 28 68 / 15%);
    text-shadow: 0px 1px 0px #528ecc;
    margin-right: -8px;
}
#btn2{
    text-transform: uppercase;
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    border-radius: 30px;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    color: #5e97d1;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 12px 20px;
    margin: 35px;
    text-decoration: none;
    box-shadow: 1px 4px 12px rgb(94 28 68 / 15%);
    text-shadow: 0px 1px 0px #cbcbcb;
}
.btn:hover{
    box-shadow: 3px 8px 22px rgba(94,28,68,.15);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}
#wrapper{
    display: inline-flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#wrapper #text{
    position: relative;
    max-width: 600px;
    padding-left: 60px;
}
#wrapper #text h1{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: #fff;
}
#wrapper #text h1 span{
    font-size: 50px;
}
#wrapper #text p{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
    color: #e7e3e3;
}
#btn3{
    
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    margin-top: 60px;
    margin-left: 140px;
    padding: 15px 30px;
    text-align: center;
    transition: 0.5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 4px 12px rgb(94 28 68 / 15%);
    cursor: pointer;
}
#pepsi{
    display: flex;
    height: 100%;
    position: absolute;
    width: 600px;
    margin-top: 80px;
    padding-left: 510px;
    justify-content: flex-end;
}
























.header-text form.searchbar{
    margin-inline: 400px;
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    border-radius: 60px;
    padding: 0px 0px;
    align-items: center;
    backdrop-filter: blur(4px) saturate(180%);
    position: relative;
    border: 1px solid;
    
}
.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
    
}
::placeholder{
    color: #cac7ff;
}
.searchbar button img{
    width: 25px;
}
.searchbar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}